body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: white ; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

button {
  font-family: Monaco;
  font-size:large;
  font-weight: lighter;
  font-size: 1em;
 
}
.hocusFocus--style{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:  #3c096c;
  transition-property: background-color;
  transition-duration: 1s;
}


.Break--style {
  background-color: #ff6d00;
  transition-property: background-color;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.Long--style {
  background-color: #ff9e00;
  transition-property: background-color;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}



.nav--container {
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid;
  border-width: thin;
  border-color:   #888888;
  
}

.nav--center {
  width:70vw;
  display: flex;
  justify-content: space-around;
}

.nav--logo {
  display:flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
 
}

.nav--image {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.nav--description {
  font-size: 30px;
  cursor: pointer;

}

.nav--buttons {
  display: flex;
  align-items: center;
  gap: 10px;

}

.display{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  margin-top: 20px;
}



.button--spacing {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  /*border-style: solid;*/
}

.option {
  border: 2px solid #000000;
  /*border-style: solid;*/
  padding: 2px 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.hocus--selected {
  border: 4px solid #f1f4ee;
  
  /*border-style: solid;*/
  padding: 2px 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  
}

.break--selected {
  border: 4px solid #edf1f3;
  
  /*border-style: solid;*/
  padding: 2px 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  
}

.long--selected {
  border: 4px solid #f1f3f7;
  
  /*border-style: solid;*/
  padding: 2px 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;

}

.clock--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /*border-style: solid;*/
  height: 270px;
  
  width: 100vw;
  /*border-style: solid;*/
}

.counter--text {
  font-size: 100px;
  font-weight: bold;
  
}

.button--stop {
  display: flex;
  justify-content: center;
  /*border-style: solid ;*/
  height:60px;
}

.start--button { 
  width:100px; 
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.tracker--container {
  border-style: solid;
  border-color: black;
}

.taskList--body {
  display: flex;
  justify-content: center;
  width:100vw;
  height: 100vh;
}

.taskList--container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  padding: 20px;
}

.task--text {
  margin: 1rem; 
  overflow: auto;
  font-weight: bold;
}

.taskList--header {
  display: flex;
  justify-content: space-between;
  
}

.taskList--add {
  width: 12rem;
  height: 3.5rem;
  border-radius: 5px;
  
}



.collapsible--buttons--container {
  display: flex;
  gap: 20px;
  padding: 30px 150px
  
}
.collapsible-button {
    font-size: large;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    width: 100vw;
}

.form {
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width:300px;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);

}

.form-input {
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 0px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.task--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 25vw;
  height: auto;
  color: black; 
  padding: 1rem; 
  border-radius: 10px;
  font-family: Monaco;
  
}

.ellipse--img {
  width: 18px;
  opacity: 0.4;
  margin-top: 1px;
}

.ellipse--container{
  cursor: pointer;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 4px;
  padding: 2px 4px;
  background-color: white;
  width: 20px;
  height: 20px;
  display:flex;
  justify-content: center;
}

.ellipse--container:hover {
  background-color: #d2c5c5;

}

.dialogContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
 
.settings-label {
  justify-self: center;
  font-weight: bold;
}
.settings-button {
  justify-self: center;
  padding: 1ch;
  width: 5ch;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}